* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Noto Sans TC", sans-serif;
}

::before,
::after {
  box-sizing: border-box;
  text-decoration: inherit;
  vertical-align: inherit;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
}

button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
}
